<div class="comment-form">
	<%= form_for [@post, @comment] do |f| %>


		<div class="comment-form-block">
			<%= f.label :body, class: "comment form-body-label" %><br>
			<%= f.text_area :body, rows: '15', class: "comment-form-body" %>
		</div>

		<div class="comment-form-block">
			<%= f.submit %>
		</div>
	<% end %>
</div>
