<header class="container">
	<h1 class="page-title" id="about">The Cool Kids Club</h1>
</header>

<section class="container">
	<div class="card">
		<div class="front">
			<%= image_tag("icons/human-200x200.png") %>
			<h2>Sam Webb</h2>
			<h4>Web Developer</h4>
			<p>samwebb@samwebb.me</p>
		</div>
		<div class="back">
			
		</div>
	</div>
</section>
