<header class="container">
	<h1 class="page-title" id="about">The Cool Kids Club</h1>
</header>

<section class="container">

	<div class="card-holder">
		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2>Benji</h2>
					<p>Ruby Developer</p>
				</div>
				<p class="card-email">email@email.com</p>
			</div>
			<div class="back">
				
			</div>
		</div>

		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2>Danielle</h2>
					<p>Front-end Web Developer</p>
				</div>
				<p class="card-email">email@email.com</p>
			</div>
			<div class="back">
				
			</div>
		</div>

		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2>Adam</h2>
					<p>Graphics Designer</p>
				</div>
				<p class="card-email">email@email.com</p>
			</div>
			<div class="back">
				
			</div>
		</div>

		<div class="card">
			<div class="front">
				<div class="card-front-image">
					<%= image_tag("icons/human-200x200.png") %>
				</div>
				<div class="card-front-text">
					<h2>Sam</h2>
					<p>Ruby Developer</p>
				</div>
				<p class="card-email">email@email.com</p>
			</div>
			<div class="back">
				
			</div>
		</div>
	</div>
</section>
