<header class="hero">
	<div id="main-title">
		<h1>TribalDev</h1>
		<h4>reimagine your web-dev experience</h4>
	</div>
</header>

<section class="container">
	<p>Learning Web Development shouldn't be a solitary experience.</p>
	<p>
		 With very little formalized education in this field, community and feedback from your peers is essential. Why go it alone when you can learn with others and accelerate your development experience? Peer-driven education not only makes it easier to learn, but it also makes it much more enjoyable. Come join us at Tribal dev and reimagine your web-dev experience.
	</p>
	<p>
		We're starting out small with a series of blog posts and videos but the more that join in, the more we can accomplish together. That's the idea behind it all. We can accomplish so much more together than we can as individuals. Where we go from here is limited only by what we put into this.
		That's what a tribe's about. We support eachother for the common good.
	</p>
	<p>
		Lets get started! Come join the tribe!
	</p>
	<br>
	<div class="center">
		<a href="/users/sign_up" class='button'>Sign Up</a>
	</div>
	<div class="spacer">
		&nbsp;
	</div>

</section>
