<header class="container">
	<h1 class="page-title">All Posts</h1>
	<% if policy(Post.new).create? %>
		<%= link_to "New Post", new_post_path %>
	<% end %>
</header>

<section class="container">
	<%= render partial: "post" %>

	<%= render partial: "paginate" %>

	<br><br><br>
</section>
