<header class="container">
	<h1>All Posts</h1>
</header>

<section class="container">
	<% @posts.reverse.each do |post| %>
	  <h2><%= link_to post.title, post%></h2>
	  <p><%= post.text %></p>
    <p><%= link_to 'Edit', edit_post_path(post) %></p>
	  <hr>
	<% end %>

	<%= link_to "New Post", new_post_path %>
</section>
