<section class="container" style="margin-top: 100px;">
  <hr>
  <% if @search_results.blank? %>
    <p class="no-results"><span>?</span>Sorry, no results for that. Search for something else.</p>
    <% else %>
  <% @search_results.each do |post| %>
    <h3><%= link_to post.title, post %></h3>
    <small>
      <%= truncate(post.text, :length => 90, :seperator => ' ...') %>
    </small>
    <hr>
  <% end %>
  <% end %>
</section>
