// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$electric-pink: #f88;

.hero {
	height: 100vh;
	background-image: url("https://download.unsplash.com/photo-1421757295538-9c80958e75b0");
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 50px;
	color: #3490c9;

	h1,
	h4 {
		color: $electric-pink;
		margin: 0;
		text-align: center;
	}

	h1 {
		font-size: 5em;
		padding-top: 15%;
	}

	h3 {
		font-size: 3em;
	}
}