// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.hero {
	height: 100vh;
	background-image: image_url("computer-compressed-blurred.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 50px;
	position: relative;

	#main-title {
		position: absolute;
		width: 100%;
		top: 50%;
		margin-top: -94px;
	}

	h1,
	h4 {
		color: $color-main;
		margin: 0;
		text-align: center;
	}

	h1 {
		font-size: 6em;
		font-family: $font-styled;
		font-weight: normal;
		text-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	}

	h4 {
		font-weight: normal;
		font-family: $font-sans;
		letter-spacing: 2px;
		font-size: 1.4em;
	}
}

#about {
	font-size: 4em;
	color: $color-main;
}

#about,
.mission,
.card-holder,
.card {
	text-align: center
}

.card-holder {
	width: 100%;
	max-width: 1000px;
	-webkit-perspective: 1500px;
	margin: 0 auto 40px auto;
}

.card {
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 10px;
	width: 250px;
	margin: 0 auto;
	transition: -webkit-transform .5s ease-in;
	-webkit-transform-style: preserve-3d;
	margin: 10px 10px 10px 10px;
	box-shadow: 3px 3px 3px rgb(229,229,229);

	.front,
	.back {
		-webkit-backface-visibility: hidden;
	}

	.front {
		z-index: 100;
	}


	.back {
		-webkit-transform: rotateY(-180deg);
		background: #f7f7f7;
		position: absolute;
		height: 100%;
		top: 0;
		border-radius: 10px;
		width: 100%;

		.back-text {
			width: 80%;
			margin: 0 auto;
		}

		.back-bottom {
			position: absolute;
			bottom: 20px;
			left: 0;
			right: 0;
			font-size: 1.5em;

			a:hover {
				text-decoration: none;
				color: $color-main;
			}

			span {
				margin-left: 5px;
				margin-right: 5px;
			}
		}
	}

	img {
		width: 100px;
		margin-top: 30px;
	}

	h2 {
		width: 70%;
		margin: 0 auto;
	}

	h2 {
		margin-top: 10px;
	}

	p {
		font-size: 1em;
		color: #aaa;
		margin-top: 0;
	}

	.styled-text {
		font-family: $font-styled;
	}

	.card-front-text {
		padding-bottom: 80px;
		border-bottom: 1px solid #ddd;
	}

	.card-email {
		margin-top: 10px;
	}

}

.card:hover {
	-webkit-transform: rotateY(-.5turn);
}

@media (max-width: 750px) {
	.hero {

		h1 {
			font-size: 3em;
		}

		h4 {
			font-size: 1em;
		}
	}

	#about {
		font-size: 2.5em;
	}

	.card {
		display: block;
		width: 100%;
		margin: 25px 0;
	}
}
