// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$electric-pink: #ee01aa;

.hero {
	height: 100vh;
	background-image: image_url("computer-compressed-blurred.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 50px;

	h1,
	h4 {
		color: $electric-pink;
		margin: 0;
		text-align: center;
	}

	h1 {
		font-size: 6em;
		padding-top: 15%;
	}

	h4 {
		font-size: 1.5em;
	}
}

#about {
	font-size: 4em;
	color: $electric-pink;
}

#about,
.mission,
.card-holder,
.card {
	text-align: center
}

.card-holder {
	width: 100%;
	-webkit-perspective: 800px;
}

.card {
	background: white;
	border: 1px solid #ccc;
	display: inline-block;
	border-radius: 10px;
	width: 250px;
	margin: 0 auto;
	transition: -webkit-transform .5s ease-in;
	-webkit-transform-style: preserve-3d;
	margin-top: 5px;

	.front,
	.back {
		-webkit-backface-visibility: hidden;
	}

	.front {
		z-index: 100;
	}

	.back {
		-webkit-transform: rotateY(-90deg);
	}

	img {
		width: 100px;
		margin-top: 30px;
	}

	h2 {
		width: 70%;
		margin: 0 auto;
	}

	h2 {
		margin-top: 10px;
	}

	p {
		font-size: 1em;
		color: #aaa;
		margin-top: 0;
	}

	.card-front-text {
		padding-bottom: 80px;
		border-bottom: 1px solid #ddd;
	}

	.card-email {
		margin-top: 10px;
	}

}

.card:hover {
	-webkit-transform: rotateY(-.5turn);
}

@media (max-width: 750px) {
	.hero {

		h1 {
			font-size: 3em;
		}

		h4 {
			font-size: 1em;
		}
	}

	#about {
		font-size: 2.5em;
	}

	.card {
		display: block;
		width: 100%;
		margin: 25px 0;
	}
}
