// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$electric-pink: #ee01aa;

.hero {
	height: 100vh;
	background-image: image_url("computer-compressed-blurred.jpg");
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 50px;

	h1,
	h4 {
		color: $electric-pink;
		margin: 0;
		text-align: center;
	}

	h1 {
		font-size: 6em;
		padding-top: 15%;
	}

	h4 {
		font-size: 1.5em;
	}
}

@media (max-width: 650px) {
	.hero {

		h1 {
			font-size: 3em;
		}

		h4 {
			font-size: 1em;
		}
	}
}