// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-block {
	margin-bottom: 30px;

	.form-input-label {
		font-size: 1.5em;
	}

	.form-title,
	.form-body {
		width: 100%;
		margin-top: 10px;
	}

	.form-title {
		font-size: 1.3em;
		border-top: 0;
		border-right: 0;
		border-left: 0;
		padding: 5px 0;
	}

	.form-title:focus {
		outline-style: none;
	}

	.form-body {
		font-size: 1em;
		height: 300px;
	}

}

.form {
	.form-submit {
		text-align: center;

		input[type~=submit] {
			width: 30%;
			-webkit-appearance: none;
			font-size: 1.3em;
			background: white;
		}
	}
}

#error_explanation {
	background: hsla(5, 99%, 50%, .2);
	padding: 5px 20px;
	margin-bottom: 10px;
	border: 1px solid hsla(5, 99%, 50%, .8);
	border-radius: 10px;
	display: inline-block;
}

.kd {
	font-size: 1em;
}