@font-face {
	font-family: 'icomoon';
	src:url('social/icomoon.eot?-cxtvkh');
	src:url('social/icomoon.eot?#iefix-cxtvkh') format('embedded-opentype'),
		url('social/icomoon.woff?-cxtvkh') format('woff'),
		url('social/icomoon.ttf?-cxtvkh') format('truetype'),
		url('social/icomoon.svg?-cxtvkh#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-plus:before {
	content: "\ea8a";
}

.icon-facebook:before {
	content: "\ea8e";
}

.icon-twitter:before {
	content: "\ea93";
}

.icon-github:before {
	content: "\eab1";
}

