$black: #515151;
$white: #f7f7f7;
$light-gray: #f3f3f3;
$gray: #777;


body {
	margin: 50px 0 0 0;
	font-family: sans-serif;
	width: 100%;
	color: $gray;
}

p {
	font-size: 1.3em;
}

a {
	color: $black;
	text-decoration: none;
}

.container {
	width: 85%;
	margin: 0 auto;
}

a:hover {
	text-decoration: underline;
}

.navbar {
	background: white;
	padding-right: 15px;
	border-bottom: 1px solid $gray;
	box-shadow: 1px 1px 10px $gray;
	position: fixed;
	width: 100%;
	top: 0;


	.nav {
		list-style: none;
		padding: 0;
		font-size: 1.1em;
		margin: 0 0 0 25px;
		display: inline-block;

		.nav-item {
			display: inline-block;

			a {
				display: block;
				padding: 15px 15px;
				color: $gray;
			}

			a:hover {
				color: $black;
			}
		}
	}

	.nav-search-bar {
		display: inline-block;
		position: absolute;
		right: 10%;
		top: 30%;

	}
}

.search {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	font-size: 1em;
	text-align: center;
	color: $gray;
	font-family: sans-serif;
}

.search:focus {
	outline-style: none;
}

.page-title {
	padding-top: 20px;
}

.post {
	margin-bottom: 40px;

	h2 {
		margin-bottom: 5px;
	}

	p {
		padding-bottom: 10px;
	}

	p,
	.date {
		font-size: 1em;
		margin: 0;
		display: inline-block;
	}

	.date {
		margin-right: 50px;
	}
}

@media (max-width: 650px) {
	body {
		margin-top: 45px;
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.2em;
	}

	p {
		font-size: 1em;
	}

	.navbar {
		display: block;
		text-align: center;

		.nav {
			font-size: .9em;
		}

		.nav-search-bar {
			display: none;
		}
	}
}