$black: #515151;
$white: #f7f7f7;
$light-gray: #f3f3f3;
$gray: #777;


body {
	margin: 0;
	font-family: sans-serif;
	width: 100%;
	color: $black;
}

a {
	color: $black;
	text-decoration: none;
}

.container {
	width: 85%;
	margin: 0 auto;
}

a:hover {
	text-decoration: underline;
}

.navbar {
	background: $black;
	padding-right: 15px;

	.nav {
		list-style: none;
		padding: 0;
		font-size: 1.1em;
		margin: 0 0 0 25px;

		.nav-item {
			display: inline-block;

			a {
				display: block;
				padding: 15px 15px;
				color: $gray;
			}

			a:hover {
				color: $white;
			}
		}
	}
}

@media (max-width: 650px) {
	.navbar {
		display: block;
		text-align: center;
	}
}