$black: #515151;
$white: #f7f7f7;
$light-gray: #f3f3f3;
$gray: #777;


body {
	margin: 50px 0 0 0;
	font-family: sans-serif;
	width: 100%;
	color: $gray;
}

p {
	font-size: 1.3em;
}

a {
	color: $black;
	text-decoration: none;
}

.container {
	width: 85%;
	margin: 0 auto;
}

a:hover {
	text-decoration: underline;
}

.navbar {
	background: white;
	padding-right: 15px;
	border-bottom: 1px solid $gray;
	box-shadow: 1px 1px 10px $gray;
	position: fixed;
	width: 100%;
	top: 0;


	.nav {
		list-style: none;
		padding: 0;
		font-size: 1.1em;
		margin: 0 0 0 25px;

		.nav-item {
			display: inline-block;

			a {
				display: block;
				padding: 15px 15px;
				color: $gray;
			}

			a:hover {
				color: $black;
				background: white;
			}
		}
	}
}

.page-title {
	padding-top: 20px;
}

@media (max-width: 650px) {
	.navbar {
		display: block;
		text-align: center;
	}
}