$black: #515151;
$white: #f7f7f7;
$light-gray: #f3f3f3;
$gray: #777;


body {
	margin: 50px 0 0 0;
	font-family: sans-serif;
	width: 100%;
	color: $gray;
}

p {
	font-size: 1.3em;
}

a {
	color: $black;
	text-decoration: none;
}

.text-line {
	border-top: none;
	border-right: none;
	border-left: none;
}

.text-line:focus {
	outline-style: none;
}

.time {
	font-size: 1em;
}

.container {
	width: 85%;
	margin: 0 auto;
	position: relative;
}

a:hover {
	text-decoration: underline;
}

.navbar {
	background: white;
	padding-right: 15px;
	border-bottom: 1px solid $gray;
	box-shadow: 1px 1px 10px $gray;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;

	.mobile-nav {
		display: none;
	}

	.nav {
		list-style: none;
		padding: 0;
		font-size: 1.1em;
		margin: 0 0 0 25px;
		display: inline-block;

		.nav-item {
			display: inline-block;

			a {
				display: block;
				padding: 15px 15px;
				color: $gray;
			}

			a:hover {
				color: $black;
			}
		}
	}

	.nav-search-bar {
		display: inline-block;
		position: absolute;
		right: 10%;
		top: 30%;

	}
}

.search {
	font-size: 1em;
	text-align: center;
	color: $gray;
	font-family: sans-serif;
}

.search-submit {
	visibility: hidden;
}

.page-title {
	padding-top: 20px;
}

.post {
	margin-bottom: 40px;

	h2 {
		margin-bottom: 5px;
	}

	p {
		padding-bottom: 10px;
	}

	p,
	.date {
		font-size: 1em;
		margin: 0;
		display: inline-block;
	}

	.date {
		margin-right: 50px;
	}
}

.auth-form {
	margin-top: 15%;
	text-align: center;

	h2 {
		font-size: 2.5em;
	}

	.label {
		font-size: 1.6em;
	}

	.auth-input {
		width: 50%;
		font-size: 1.4em;
		margin-bottom: 15px;
		text-align: center;
	}

	input[type~=submit] {
		width: 30%;
		-webkit-appearance: none;
		font-size: 1.3em;
		background: white;
		color: #777;
		border-radius: 50px;
	}
}

@media (max-width: 750px) {
	body {
		margin-top: 45px;
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.2em;
	}

	p {
		font-size: 1em;
	}

	.navbar {
		display: block;
		height: 2.8rem;

		.mobile-nav {
			display: inline;
			margin-left: -7.5rem;
			line-height: 2.9;
			cursor: pointer;
			&:hover {
				color: #b96969;
			}
		}

		.nav {
			padding: 2rem;
			text-align: center;
			font-size: 1rem;
			float: left;
			margin-top: 3.5rem;
			background: #fff;
			border-radius: 9px;
			border: solid #5a5a5a 4px;
			opacity: 0;

			.nav-item {
				display: block;
			}
		}

		.mobile-menu-showing {
			opacity: 1;
			transition: all 200ms ease;
		}

		.nav-search-bar {
			display: none;
		}
	}
}
