@import "variables";

body {
	margin: 0 0 0 0;
	line-height: 1.6;
	font-family: $font-sans;
	width: 100%;
	color: $gray;
}

p {
	font-size: 1.3em;
}

a {
	color: $black;
	text-decoration: none;
}

.category-sub {
	margin-left: .3rem;
	font-size: .8rem;
	color: #B7B8B8;
}

.center {
	text-align: center;
	margin: 0 auto;
}

.button {
	border-radius: 6px;
	border: 1px solid $color-main;
	color: $color-main;
	padding: 1rem;
	transition: all 230ms ease;
	&:hover {
		background: $color-main;
		color: $white;
		text-decoration: none;
	}
}

.text-line {
	border-top: none;
	border-right: none;
	border-left: none;
}

.text-line:focus {
	outline-style: none;
}

.time {
	font-size: 1em;
}

.container {
	padding-top: 1em;
	width: 85%;
	margin: 0 auto;
	position: relative;
}

a:hover {
	text-decoration: underline;
}

.navbar {
	transition: all 300ms ease;
	background: rgba(62, 62, 62, 0.36);
	padding-right: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;

	.mobile-nav {
		display: none;
	}

	.nav-logo {
			font-size: 0rem;
		}

	.nav {
		list-style: none;
		padding: 0;
		font-size: 1.1em;
		margin: 0 0 0 5px;
		display: inline-block;
		.nav-item {
			display: inline-block;

			a {
				color: $white;
				display: block;
				padding: 15px 15px;
			}

			a:hover {
				color: $black;
			}

		}
	}

	.nav-search-bar {
		display: inline-block;
		float: right;
		margin-top: .9rem;
	}

	.nav-search-bar input {
		background-color: $light-gray;
		border-radius: 2px;
		padding: 5px;
	}

}


.navbar-scroll {
	transition: all 300ms ease;
	background-color: $color-dark;
	color: $color-main;
	box-shadow: 1px 1px 10px #29343B;

	.nav-item a {
		color: $color-main !important;
	}

	.nav-logo-showing {
		margin-left: 1rem;
		font-size: 1.4rem;
		color: #EE3EAC;
		font-family: $font-styled;
	}
}


.search {
	font-size: 1em;
	text-align: center;
	color: $gray;
	font-family: sans-serif;
}

.search-submit {
	visibility: hidden;
}

.page-title {
	padding-top: 1em;
}

.post {
	margin-bottom: 40px;

	h2 {
		margin-bottom: 5px;
	}

	p {
		padding-bottom: 10px;
	}

	p,
	.date {
		font-size: 1em;
		margin: 0;
		display: inline-block;
	}

	.date {
		margin-right: 50px;
	}
}

.auth-form {
	margin-top: 15%;
	text-align: center;

	h2 {
		font-size: 2.5em;
	}

	.label {
		font-size: 1.6em;
	}

	.auth-input {
		width: 50%;
		font-size: 1.4em;
		margin-bottom: 15px;
		text-align: center;
	}

	input[type~=submit] {
		width: 30%;
		-webkit-appearance: none;
		font-size: 1.3em;
		background: white;
		color: $gray;
		border-radius: 50px;
	}
}

footer {
	background-color: $color-dark;
	color: $color-main;
	margin-top: 50px;
	padding-top: 50px;
	text-align: center;
	height: 100px
}

.spacer {
	margin-top: 2rem;
}

@media (max-width: 750px) {
	.nav-logo-showing {
		float: right;
		margin-top: 6px;
		margin-right: 1rem;
		font-size: 1.4rem;
		color: $gray;
		font-family: $font-styled;
	}

	body {
		margin-top: 45px;
	}

	h1 {
		font-size: 1.7em;
	}

	h2 {
		font-size: 1.2em;
	}

	p {
		font-size: 1em;
	}

	.navbar {
		display: block;
		height: 2.8rem;
		background-color: $color-dark;
		color: $color-main;

		.mobile-nav {
			display: inline;
			margin-left: -7.5rem;
			line-height: 2.9;
			cursor: pointer;
			&:hover {
				color: $light-gray;
			}
		}

		.nav {
			padding: 2rem;
			text-align: center;
			font-size: 1rem;
			float: left;
			margin-top: 3.5rem;
			border-radius: 9px;
			border: solid $gray 4px;
			opacity: 0;

			.nav-item {
				display: block;
				a {color: $color-main;}
			}
		}

		.mobile-menu-showing {
			background: $color-dark;
			opacity: 1;
			transition: all 200ms ease;
		}

		.nav-search-bar {
			display: none;
		}
	}
}
