@import url(https://fonts.googleapis.com/css?family=Lobster|Raleway:400,700|Pt+sans);

$font-styled: 'Lobster', serif;
$font-sans: 'Raleway', sans-serif;
$font-serif: 'PT Sans', serif;

$color-main: #EE3EAC;
$color-muted: rgba(247, 150, 224, .8);
$color-dark: #29343B;


$black: #515151;
$white: #f7f7f7;
$light-gray: #e5e5e5;
$gray: #777;
