@import url(http://fonts.googleapis.com/css?family=Lobster|Raleway:400,700|Pt+sans);

$font-styled: 'Lobster', serif;
$font-sans: 'Raleway', sans-serif;
$font-serif: 'PT Sans', serif;

$color-main: #EE3EAC;

$black: #515151;
$white: #f7f7f7;
$light-gray: #f3f3f3;
$gray: #777;
